<div class="row">
    <div class="col-md-4">
        <h3>Users</h3>
        @Html.Partial("_AdminTablePartial")
    </div>
    <div class="col-md-4">
        <h3>Monsters</h3>
        @Html.Partial("_ElementTablePartial")
        @Html.Partial("_SpeciesTableParial")
        @Html.Partial("_EnemyTablePartial")
    </div>
    <div class="col-md-4">
        <h3>World</h3>
        @Html.Partial("_ItemTablePartial")
        @Html.Partial("_ShopTablePartial")
    </div>
</div>

