@model Beast_Blitz.Domain.Models.Player

@{
    ViewData["Title"] = "_UserName's Profile";
}

<h3>@Model.Username's Profile</h3>

<div id="profile" class="row border shadow m-2">
    <div class="col-lg-4">
        <div class="row mx-2 my-3">
            <div class="col-12 m-2 border shadow">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="200" height="200">
                <defs>
                    <filter id="colorMask1">
                        <feFlood flood-color="@Model.Pets[0].Color" result="flood" />
                        <feComposite in="SourceGraphic" in2="flood" operator="arithmetic" k1="1" k2="0" k3="0" k4="0" />
                    </filter>
                </defs>
                <image width="100%" height="100%" xlink:href="/img/monster/@Model.Pets[0].Species.Image" class="img-fluid" filter="url(#colorMask1)">
            </svg>
                
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td id="name">@Model.Pets[0].Name</td>
                    </tr>
                    <tr>
                        <td>Birthday</td>
                        <td id="bday">@Model.Pets[0].Birthday</td>
                    </tr>
                </table>

                <div class="row" id="stats">
                    <div class="col-4">
                        <i class="fas fa-smile-beam mx-auto" data-toggle="tooltip" data-placement="top" title="Happiness"></i>
                    </div>
                    <div class="col-4">
                        <i class="fas fa-drumstick-bite mx-auto" data-toggle="tooltip" data-placement="top" title="Hunger"></i>
                    </div>
                    <div class="col-4">
                        <i class="fas fa-bath mx-auto" data-toggle="tooltip" data-placement="top" title="Cleanliness"></i>
                    </div>
                </div>
                <div class="row my-1" id="statnum">
                    <div class="col-4" id="happynum">
                        @Model.Pets[0].CareStats.Happiness / 100
                    </div>
                    <div class="col-4" id="foodnum">
                        @Model.Pets[0].CareStats.Fullness / 100
                    </div>
                    <div class="col-4" id="cleannum">
                        @Model.Pets[0].CareStats.Cleanliness / 100
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-6">
                        <i class="fas fa-arrow-left arrow"></i>
                    </div>
                    <div class="col-6">
                        <i class="fas fa-arrow-right arrow"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row mx-2 my-3">
            <div class="col-12 m-2 border shadow">
                placeholder
            </div>
        </div>
    </div>
</div>